{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/contest.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contest.js' %}"></script>

<script>
    var start_contest = '{% url "start_contest" %}'
</script>

<!DOCTYPE html>
<html>

<head>
    <title>Baby karma</title>
</head>
<style>
</style>

<body>
    <div class="content">
        <p>{{ contest }}</p>
            --
        <p>{{ goal_types }}</p>
    </div>
</body>

</html>