{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/contest.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contest.js' %}"></script>
<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>


<!DOCTYPE html>
<html>

<head>
    <title>Baby karma</title>
</head>
<style>
</style>

<body>
    <div class="content">
        <p>{{ contest }}</p>
        <div class="score">
            <div class="blue-score">
                <i class="fas fa-sort-up"></i>
                <div class="fat">0</div>
                <i class="fas fa-sort-down"></i>
            </div>
            <button id="end-game">Terminer la partie</button>
            <div class="yellow-score">
                <i class="fas fa-sort-up"></i>
                <div class="fat">0</div>
                <i class="fas fa-sort-down"></i>
            </div>
        </div>
        <br>-<br>
        <div class="score-detail-container">
            <div class="player-scored">
                {% for player in players %}
                <div>{{ player }}</div>
                {% endfor %}
            </div>
            <div class="goal-types">
                <span>Buts de l'attaque</span>
                {% for goal_type in goal_types_attack %}
                <div data-pk="{{ goal_type.pk }}">{{ goal_type.fields.label }}</div>
                {% endfor %}
                <span>Buts de la défense</span>
                {% for goal_type in goal_types_defense %}
                <div data-pk="{{ goal_type.pk }}">{{ goal_type.fields.label }}</div>
                {% endfor %}
            </div>
            <div class="player-scored-against">
                {% for player in players %}
                <div>{{ player }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>