


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">


<!DOCTYPE html>
<html>
    <head>
        <title>Baby karma</title>
    </head>
    <style>
    </style>
    <body>
        <div class="content">
            <button id="startContest">Démarrer</button>
            <div class="teamContainer">
                <div class="blueTeam">
                    
                </div>
                <div class="yellowTeam">

                </div>
            </div>
        </div>
    </body>
</html>