
#menu {
    display: flex;
    flex: 0;
    width: 100%;
    flex-wrap: wrap;
}

.menu-content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

#menu svg {
    flex: 1;
    font-size: 5rem;
}
